# https://numtide.github.io/devshell
[[commands]]
category = "[deploy]"
name = "deploy"
package = "deploy-rs"

[[commands]]
category = "[deploy]"
name = "deploy-one"
#package = "deploy-rs"
command = """\
  deploy ".#${1}" \
  """
help = "Deploy a single machine (arg is machine name)"

[[commands]]
category = "[deploy]"
name = "targets"
command = """\
  echo `nix eval .#nixosConfigurations --apply 'pkgs: builtins.concatStringsSep " " (builtins.attrNames pkgs)'` | xargs
  """
help = "get a list of system targets to install"
